![](escudo.png)
    
# Analisis masivos de datos
## Contador de la velocidad de mi conexion a internet
### Jose Gabriel Rodriguez Rivas
## Jorge Alberto Hernandez Castro

### Practia de laboratorio

In [1]:
import datetime
import csv
import subprocess

In [2]:
fecha_hora = datetime.datetime.now()
print(fecha_hora, type(fecha_hora))

2020-07-23 10:49:23.978974 <class 'datetime.datetime'>

In [3]:
fecha_hora.strftime('%a, %d %b %Y %H:%M:%S')

'Thu, 23 Jul 2020 10:49:23'

In [4]:
fecha_hora.strftime('%Y-%m-%d %H:%M%S')

'2020-07-23 10:4923'

El comando **speedtest-cli**, si se ejecuta desde un terminal, **devuelve una cadena con las velocidades de carga y descarga.** Para ejecutar el comando de la computadora portátil, es necesario utilizar el subproceso del módulo de Python, que permite la ejecución de un proceso directamente de las celdas de código de la computadora portátil.

In [5]:
# This string contains the command line to interface with speedtest.net
speedtest_cmd = "speedtest-cli --simple"
# Execute the process
process = subprocess.Popen(speedtest_cmd.split(), stdout=subprocess.PIPE)
# Collect the command output
process_output = process.communicate()[0]

In [6]:
print(process_output, type(process_output))

b'Ping: 25.903 ms\r\nDownload: 21.85 Mbit/s\r\nUpload: 4.88 Mbit/s\r\n' <class 'bytes'>

In [7]:
def speedtest():
    # We need to store the time at which the speedtest was executed
    date_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    # This is a string that contains what we would write on the command line 
    #to interface with speedtest.net
    speedtest_cmd = "speedtest-cli --simple"
    # We now execute the process: 
    process = subprocess.Popen(speedtest_cmd.split(), stdout=subprocess.PIPE)
    process_output = process.communicate()[0]
    process_output = process_output.split()
    # and we add the date and time 
    process_output.append(date_time)
    return process_output

In [8]:
speedtest()

[b'Ping:',
 b'30.176',
 b'ms',
 b'Download:',
 b'21.71',
 b'Mbit/s',
 b'Upload:',
 b'4.87',
 b'Mbit/s',
 '2020-07-23 10:50:39']

In [9]:
with open("test.txt",'w') as f:
    f.write('test_msg')

In [10]:
with open("test.txt",'r') as f:
    str = f.read()
print(str)

test_msg

**Funcion para abrir un archivo csv e imprimir su contenido**

In [11]:
def save_to_csv(data, filename):
    try:
        # If the file exists, append a new line to it, with the 
        with open(filename + '.csv', 'a') as f:
            # Create a csv writer object 
            wr = csv.writer(f)
            # Save (write) to file
            wr.writerow(data)
    except:
        # If it does not exist, create the file first
        with open(filename + '.csv', 'w') as f:
            wr= csv.writer(f)
            # Save (write) to file
            wr.writerow(data)

In [12]:
def print_from_csv(filename): 
    with open(filename + '.csv', 'r') as f:
        re = csv.reader(f)
        for row in re:
            print(','.join(row))

In [13]:
for i in range(5):
    # Measure internet speed (speedtest_output) using the speedtest() created earlier
    speedtest_output = speedtest()
    # Print the test number
    print ('Test number {}'.format(i))
    # Print the result (The needed variable is speedtest_output)
    # ADD CODE HERE for printing the results
    save_to_csv(speedtest_output, 'rpi_data_test')

Test number 0
Test number 1
Test number 2
Test number 3
Test number 4

In [14]:
print_from_csv('rpi_data_test')

b'Ping:',b'32.323',b'ms',b'Download:',b'21.86',b'Mbit/s',b'Upload:',b'4.93',b'Mbit/s',2020-07-23 10:46:29

b'Ping:',b'27.297',b'ms',b'Download:',b'21.82',b'Mbit/s',b'Upload:',b'4.84',b'Mbit/s',2020-07-23 10:46:55

b'Ping:',b'28.9',b'ms',b'Download:',b'22.05',b'Mbit/s',b'Upload:',b'4.91',b'Mbit/s',2020-07-23 10:47:21

b'Ping:',b'26.593',b'ms',b'Download:',b'21.97',b'Mbit/s',b'Upload:',b'4.89',b'Mbit/s',2020-07-23 10:47:46

b'Ping:',b'28.432',b'ms',b'Download:',b'21.74',b'Mbit/s',b'Upload:',b'4.94',b'Mbit/s',2020-07-23 10:51:18

b'Ping:',b'28.3',b'ms',b'Download:',b'21.86',b'Mbit/s',b'Upload:',b'5.02',b'Mbit/s',2020-07-23 10:51:44

b'Ping:',b'27.225',b'ms',b'Download:',b'21.53',b'Mbit/s',b'Upload:',b'4.89',b'Mbit/s',2020-07-23 10:52:09

b'Ping:',b'25.95',b'ms',b'Download:',b'21.99',b'Mbit/s',b'Upload:',b'4.74',b'Mbit/s',2020-07-23 10:52:34

b'Ping:',b'30.923',b'ms',b'Download:',b'17.24',b'Mbit/s',b'Upload:',b'4.94',b'Mbit/s',2020-07-23 10:53:00

## Parte 2 de la practica

In [15]:
import datetime
import csv
import pandas as pd
import numpy as np

In [16]:
data_file = 'rpi_data_long.csv'

In [17]:
column_names = [ 'Type A', 'Measure A', 'Units A',
                 'Type B', 'Measure B', 'Units B',
                 'Type C', 'Measure C', 'Units C', 
                 'Datetime']

In [18]:
with open(data_file, 'r') as f:
    df_redundant = pd.read_csv(f, names = column_names)

In [19]:
df_redundant.head()

,Type A,Measure A,Units A,Type B,Measure B,Units B,Type C,Measure C,Units C,Datetime
0,Ping:,26.992,ms,Download:,91.80,Mbit/s,Upload:,14.31,Mbit/s,2016-11-24 13:36:25
1,Ping:,24.532,ms,Download:,88.19,Mbit/s,Upload:,14.12,Mbit/s,2016-11-24 13:36:55
2,Ping:,20.225,ms,Download:,59.86,Mbit/s,Upload:,14.11,Mbit/s,2016-11-24 13:37:25
3,Ping:,19.332,ms,Download:,91.81,Mbit/s,Upload:,14.22,Mbit/s,2016-11-24 13:37:57
4,Ping:,22.494,ms,Download:,92.05,Mbit/s,Upload:,14.08,Mbit/s,2016-11-24 13:38:27

**¿Cuál es el código para leer las primeras 20 líneas del archivo csv?**
R=

In [20]:
df_compact = df_redundant.copy()

In [21]:
df_compact.rename(columns={'Measure A':'Ping (ms)', 
                           'Measure B': 'Download (Mbit/s)',
                           'Measure C': 'Upload (Mbit/s)'}, inplace=True)
df_compact.head(3)

,Type A,Ping (ms),Units A,Type B,Download (Mbit/s),Units B,Type C,Upload (Mbit/s),Units C,Datetime
0,Ping:,26.992,ms,Download:,91.80,Mbit/s,Upload:,14.31,Mbit/s,2016-11-24 13:36:25
1,Ping:,24.532,ms,Download:,88.19,Mbit/s,Upload:,14.12,Mbit/s,2016-11-24 13:36:55
2,Ping:,20.225,ms,Download:,59.86,Mbit/s,Upload:,14.11,Mbit/s,2016-11-24 13:37:25

In [22]:
df_compact.drop(['Type A', 'Type B', 'Type C',
         'Units A', 'Units B', 'Units C'], axis=1, inplace=True)
df_compact.head()

   Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)             Datetime
0     26.992              91.80            14.31  2016-11-24 13:36:25
1     24.532              88.19            14.12  2016-11-24 13:36:55
2     20.225              59.86            14.11  2016-11-24 13:37:25
3     19.332              91.81            14.22  2016-11-24 13:37:57
4     22.494              92.05            14.08  2016-11-24 13:38:27

In [23]:
df_compact['Date'] = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str).date())

In [24]:
df_compact['Time'] = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str).time())

In [25]:
df_compact.drop(['Datetime'], axis=1, inplace=True)
df_compact.head()

   Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)        Date      Time
0     26.992              91.80            14.31  2016-11-24  13:36:25
1     24.532              88.19            14.12  2016-11-24  13:36:55
2     20.225              59.86            14.11  2016-11-24  13:37:25
3     19.332              91.81            14.22  2016-11-24  13:37:57
4     22.494              92.05            14.08  2016-11-24  13:38:27

In [26]:
print(df_compact['Date'][0], type(df_compact['Date'][0]) )
print(df_compact['Time'][0], type(df_compact['Time'][0]) )

2016-11-24 <class 'datetime.date'>
13:36:25 <class 'datetime.time'>

In [27]:
df_compact.to_csv('rpi_data_compact.csv')

In [30]:
df_compact.head()

   Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)        Date      Time
0     26.992              91.80            14.31  2016-11-24  13:36:25
1     24.532              88.19            14.12  2016-11-24  13:36:55
2     20.225              59.86            14.11  2016-11-24  13:37:25
3     19.332              91.81            14.22  2016-11-24  13:37:57
4     22.494              92.05            14.08  2016-11-24  13:38:27