![](escudo.png)
    
# Analisis masivos de datos
## Bases de Datos SQLite
## Jose Gabriel Rodriguez Rivas
## Jorge Alberto Hernandez Castro

In [1]:
import sqlite3
import pandas as pd
import matplotlib as plt

In [2]:
sqlite3.connect('phonebook.db')

In [3]:
conn = sqlite3.connect('phonebook.db')

In [4]:
conn.cursor()

In [5]:
cur = conn.cursor()

In [6]:
consulta = "SELECT name FROM coworkers;"
cur.execute(consulta)

In [7]:
for row in cur:
    print(row)

('Han Solo',)
('Leia Skywalker',)
('Luke Skywalker',)
('Obi-Wan Kenobi',)
('Anakin Skywalker',)
('Jabba The Hutt',)
('Greedo',)
('R2D2',)
('C3PO',)

**1) Proporcione el código para consultar los nombres de todas las princesas.**

In [8]:
consulta = "SELECT name FROM coworkers WHERE title = 'Princess';"
cur.execute(consulta)

In [9]:
for row in cur:
    print(row)

('Leia Skywalker',)

**2) Proporcione el código para consultar los nombres de todas las princesas y los recaudadores.**

In [10]:
consulta = "SELECT name FROM coworkers where title='Princess' or title='Debt Collector' ;"
cur.execute(consulta)

In [11]:
for row in cur:
    print(row)

('Leia Skywalker',)
('Greedo',)

**3) Proporcione el código para consultar los nombres y los números de todos los Jedi.**

In [12]:
consulta = "SELECT name,number FROM coworkers where title='Jedi' ;"
cur.execute(consulta)

In [13]:
for row in cur:
    print(row)

('Luke Skywalker', 5558963267)
('Obi-Wan Kenobi', 5558963276)

**4) Proporcione el código para consultar los nombres de los droids.**

In [14]:
consulta = "SELECT name FROM coworkers where title='Astro Droid' OR title='Protocol Droid';"
cur.execute(consulta)

In [15]:
for row in cur:
    print(row)

('R2D2',)
('C3PO',)